    <%-include('layouts/header')%>
    <div class="row bg-dark">
        <div class="container">
                <div class="col-md-6 m-5 text-secondary">
                    <h1>StayCurious</h1>
                    <p>Unearth hidden gems and fascinating insights within our carefully curated articles. Whether you're seeking practical tips, thought-provoking analyses, or simply a delightful read, we've got you covered.</p>
                    <a href="" class="btn btn-secondary px-5 py-3">Start Reading</a>
                </div>
            <div class="col-md-4 img-fluid">
                <img src="../public/images/source.png" alt="">
            </div>
        </div>
    </div>

</body>
</html>